<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	<bean id="p1" class="com.demo.model.Person">
		<property name="pid" value="49"></property>
		<property name="pname" value="Somesh"></property>
	</bean>	
	
	
	<bean id="sk1" class="com.demo.model.Skills">
		<property name="skid" value="5"></property>
		<property name="skname" value="Batting"></property>
		<property name="experience" value="8"></property>
	</bean>
	<bean id="sk2" class="com.demo.model.Skills">
		<property name="skid" value="6"></property>
		<property name="skname" value="Coding"></property>
		<property name="experience" value="3"></property>
	</bean>
	<bean id="sk3" class="com.demo.model.Skills">
		<property name="skid" value="7"></property>
		<property name="skname" value="Keeping"></property>
		<property name="experience" value="15"></property>
	</bean>
	
	
	<bean id="st1" class="com.demo.model.Student">
		<property name="sid" value="1"></property>
		<property name="stname" value="Virat"></property>
		<property name="hobbies">
     		<list>
		        <value>Reading</value>
		        <value>Biking</value>
		        <value>coding</value>
     		</list>
     	</property>
		<property name="slist">
			<list>
				<ref bean="sk1"></ref>
				<ref bean="sk2"></ref>
				<ref bean="sk3"></ref>
			</list>
		</property>
	</bean>
	
</beans>